
TOP_K=3 # *Optional Component — Not Used*

# ====================== GEMINI API KEYS ======================
GEMINI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxx
GEMINI_MODEL=gemini-3.1-flash
GEMINI_JUDGE_MODEL=gemini-3.1-flash-lite

# ====================== GROQ API KEYS ======================
GROQ_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GROQ_MODEL=openai/gpt-oss-120b